bin/
obj/
[Bb]uild/
[Ll]og/
[Tt]est[Rr]esult*/
[Rr]elease/
[Dd]ebug/
*.user
*.userosscache
*.suo
*.userprefs
.vscode/
*.code-workspace
*.vs/
.idea/
*.sln.iml
*.nupkg
*.snupkg
.nuget/
packages/
*.nuget.props
*.nuget.targets
**/Migrations/*.Designer.cs
**/Migrations/*Snapshot.cs
appsettings.*.json
appsettings.Development.json
*.log
logs/
*.tlog
.DS_Store
Thumbs.db
*.tmp
*.temp
*.bak
*.swp
Application/
Domain/
Infrastructure/